<footer class="inner">
  <div class="container">
      <div class="row sp">
          <div class="col-sm-8 ">
              <div class="foot-text">
                    <p>&copy; Copyright 2019 ArbTitan. All Rights Reserved</p>
                </div>
            </div>
            <div class="col-sm-4">
              <div class="foot-text">
                    <div class="social text-right">
                      <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>