<div class="promote-holder">
  <div class="container">
      <div class="promote-heading text-center">
          <h3>You Want to Promote ArbTitan?</h3>
            <p>ArbTitan is a crypto-arbitrage tool that finds arbitrages between and within exchanges</p>
        </div>
        <div class="promote-row-all text-center">
          <div class="row">
              <div class="col-sm-4">	
                  <div class="promote-alls">
                      <div class="p-all">
                      <div class="promote-icons-all text-center">
                          <div class="promote-icon">
                              <img src="assets/img/icons/pi-1.png" class="img-fluid"/>
                            </div>
                            <div class="promote-icon-bottom">
                              <img src="assets/img/icons/pih-1.png" class="img-fluid"/>
                            </div>
                        </div>
                        <h4>Spread the word</h4>
                        <div class="line text-center">
                          <img src="assets/img/icons/line.png" class="img-fluid"/>
                        </div>
                        <p>If you have own YouTube Channel, blog, website about crypto or other kind of services...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">	
                  <div class="promote-alls">
                      <div class="p-all">
                      <div class="promote-icons-all text-center">
                          <div class="promote-icon">
                              <img src="assets/img/icons/pi-2.png" class="img-fluid"/>
                            </div>
                            <div class="promote-icon-bottom">
                              <img src="assets/img/icons/pih-2.png" class="img-fluid"/>
                            </div>
                        </div>
                        <h4>Share & re-link</h4>
                        <div class="line text-center">
                          <img src="assets/img/icons/line.png" class="img-fluid"/>
                        </div>
                        <p>If you have own YouTube Channel, blog, website about crypto or other kind of services...</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">	
                  <div class="promote-alls">
                      <div class="p-all">
                      <div class="promote-icons-all text-center">
                          <div class="promote-icon">
                              <img src="assets/img/icons/pi-3.png" class="img-fluid"/>
                            </div>
                            <div class="promote-icon-bottom">
                              <img src="assets/img/icons/pih-3.png" class="img-fluid"/>
                            </div>
                        </div>
                        <h4>Refer & earn</h4>
                        <div class="line text-center">
                          <img src="assets/img/icons/line.png" class="img-fluid"/>
                        </div>
                        <p>If you have own YouTube Channel, blog, website about crypto or other kind of services...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>