<div class="form-bottom">
  <div class="form-in">
    <input type="text" class="form-control" placeholder="User Name">
  </div>
  <div class="form-in">
    <input type="text" class="form-control" placeholder="Email">
  </div>
  <div class="form-in">
    <input type="text" class="form-control" placeholder="Password">
  </div>
  <div class="form-in">
    <input type="text" class="form-control" placeholder="Password Confirm">
  </div>
  <br />
  <div class="form-in">
    <input type="text" class="form-control" placeholder="First Name">
  </div>
  <div class="form-in">
    <input type="text" class="form-control" placeholder="Last Name">
  </div>
  <div class="form-in">
    <input type="text" class="form-control" placeholder="Phone">
  </div>
  <div class="form-in">
    <input type="text" class="form-control" placeholder="Address">
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-in ss">
        <select class="form-control">
          <option>City</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-in ss">
        <select class="form-control">
          <option>State</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-in sss">
        <select class="form-control">
          <option>Country</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </div>
  <div class="subinner text-center">
    <h4>Price</h4>
  </div>
  <div class="form-in">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
  <div class="subinner text-center">
    <h5>Sends Users to PayPal</h5>
  </div>
</div>
