<div class="contact-form-all">
  <div class="form-in sps">
      <input type="text" class="form-control" placeholder="Full Name">
    </div>
    <div class="form-in sps">
      <input type="text" class="form-control" placeholder="Phone">
    </div>
    <div class="form-in sps">
      <input type="text" class="form-control" placeholder="Email address">
    </div>
    <div class="form-in text">
      <textarea class="form-control" placeholder="Message" rows="3"></textarea>
    </div>
    <div class="form-in sps">
      <button class="btn btn-default" type="button">Submit</button>
    </div>
</div>