<div class="why-holder">
  <div class="container">
      <div class="why-heading text-center">
          <h3>Why Use Us?</h3>
            <p>We help you make trades better and easier, taking out all the guess work. Weather you have no experience or experienced already we calculate the solutions for you that only commuter can do.</p>
        </div>
        <div class="why-row text-center">
          <div class="row">
              <div class="col-sm-3">
                  <div class="wh-image">
                      <img src="assets/img/icons/wi-1.png" class="img-fluid"/>
                    </div>
                    <div class="wh-text">
                      <h4>Transparency</h4>
                        <img src="assets/img/others/wh-line.png" class="img-fluid wh"/>
                        <p>24-hour trading solutions calculation; Real-time results</p>
                    </div>
                </div>
                <div class="col-sm-3">
                  <div class="wh-image">
                      <img src="assets/img/icons/wi-2.png" class="img-fluid"/>
                    </div>
                    <div class="wh-text">
                      <h4>High Performance</h4>
                        <img src="assets/img/others/wh-line.png" class="img-fluid wh"/>
                        <p>Institutional-grade on the fly trading solutions calculation; Advanced technology design; API capabilities</p>
                    </div>
                </div>
                <div class="col-sm-3">
                  <div class="wh-image">
                      <img src="assets/img/icons/wi-3.png" class="img-fluid"/>
                    </div>
                    <div class="wh-text">
                      <h4>Security</h4>
                        <img src="assets/img/others/wh-line.png" class="img-fluid wh"/>
                        <p>Multi-level firewall and segmentation; Real-time system monitoring; Multi-signature requirement</p>
                    </div>
                </div>
                <div class="col-sm-3">
                  <div class="wh-image">
                      <img src="assets/img/icons/wi-4.png" class="img-fluid"/>
                    </div>
                    <div class="wh-text">
                      <h4>Experience</h4>
                        <img src="assets/img/others/wh-line.png" class="img-fluid wh"/>
                        <p>Profound knowledge of capital market structure; In-depth R&D experience in institutional trading infrastructure; Significant management expertise across finance and internet industries</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>