<div class="form-bottom">
  <div class="form-in">
    <input type="text" class="form-control" placeholder="User Name">
  </div>
  <div class="form-in">
    <input type="text" class="form-control" placeholder="Password">
  </div>
  <div class="form-in sp">
    <input type="radio" id="rb1" name="rb" value="" checked>
    <label for="rb1">Show Password</label>
  </div>
  <div class="form-in sps">
    <input type="radio" id="rb12" name="rb" value="" checked>
    <label for="rb12">Keep Me Signed</label>
  </div>
  <div class="form-in">
    <button type="submit" class="btn btn-default">Sign IN</button>
  </div>  
</div>
