<div class="step-banner-all">
  <div class="container">
      <div class="step-head text-center">
          <h3>Current Potential Profits</h3>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-1">
              <div class="row">
                  <div class="col-sm-3 sp">
                      <div class="step-all">
                          <div class="step-top-image">
                              <img src="assets/img/others/step-1.png" class="img-fluid" width="100%"/>
                            </div>
                            <div class="step-bottom-text text-center sp1">
                              <h4>2 STEPS</h4>
                                <h3>34.62k</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 sp">
                      <div class="step-all">
                          <div class="step-top-image">
                              <img src="assets/img/others/step-2.png" class="img-fluid" width="100%"/>
                            </div>
                            <div class="step-bottom-text text-center sp2">
                              <h4>3 STEPS</h4>
                                <h3>345.72k</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 sp">
                      <div class="step-all">
                          <div class="step-top-image">
                              <img src="assets/img/others/step-3.png" class="img-fluid" width="100%"/>
                            </div>
                            <div class="step-bottom-text text-center sp3">
                              <h4>4 STEPS</h4>
                                <h3>750.3k</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 sp">
                      <div class="step-all">
                          <div class="step-top-image">
                              <img src="assets/img/others/step-4.png" class="img-fluid" width="100%"/>
                            </div>
                            <div class="step-bottom-text text-center sp4">
                              <h4>5 STEPS</h4>
                                <h3>4.6m</h3>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</div>