<div class="faq-holder">
  <div class="container">
      <div class="faq-all">
          <div class="faq-heading text-center">
            <h3>FAQs</h3>
            </div>
            <div class="row">
              <div class="col-sm-8 offset-2">
                  <div class="faq-all">
                  <div class="accordion" id="faqExample" >
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link active" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <span>How to deposit funds?</span>
                                  <i class="more-less fa fa-minus"></i>
                                </button>
                              </h5>
                        </div>
    
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
                            <div class="card-body">
                                <p>You don't deposit anything in ArbTitan. We only show you information and give our tool for use. You do transactions yourself on your own exchange wallets.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                             
                             <span>Does ArbTitan have a trading Bot?</span>
                             <i class="more-less fa fa-plus"></i>
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                            <div class="card-body">
                                <p>ArbTitan doesn't have a trading bot and is not planning making one. It is risky and borderline illegal. However, you can use our API and build one yourself.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                
                                 <span>Can I pay with cryptocurrency?</span>
                                 <i class="more-less fa fa-plus"></i>
                                </button>
                              </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                            <div class="card-body">
                                <p>No, at the moment we only use PayPal.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                
                                 <span>Can I pay with Fiat money/credit or debit card?</span>
                                 <i class="more-less fa fa-plus"></i>
                                </button>
                              </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                            <div class="card-body">
                                <p>Yes, we have PayPal payments.</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>