<div class="login-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="logo-left">
          <ul class="list-inline">
            <li class="lsp1"><a routerLink="/subscribe">Subscribe for Full Access</a></li>
            <li class="lsp1"><a routerLink="/faq">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="bar-right sp text-right">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="login-holder">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <div class="fall">
          <div class="form-all">
            <div class="form-heading text-center">
              <h4>Create An Account</h4>
            </div>
            <app-signup-form></app-signup-form>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="fall sp">
          <div class="form-all transparent">
            <div class="form-heading text-center">
              <h4>Already Have an Account?</h4>
            </div>
            <app-login-form></app-login-form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
