<app-hero-slider [bannerData]="bannerData"></app-hero-slider>
<app-why-use-us></app-why-use-us>
<app-what-is-arbtitan [isSubPage]="false"></app-what-is-arbtitan>

<div class="subscribe-holder">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-1">
        <div class="subscribe-content-all text-center">
          <h3>Subscribe For Free</h3>
          <p>Subscribe now for free and see trading solutions from the previous hour. See if you like our services,
            however the data will be delayed.We will also email you about best trading solutions from the previous hour
            every hour, to keep you in the loop.</p>
          <a routerLink="subscribe" class="btn btn-sub">Subscribe Now <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-shape">
    <img src="assets/img/others/sub-shape.png" class="img-fluid" width="100%" />
  </div>
</div>

<div class="why-arab-holder text-center">
  <div class="container">
    <h3>Why ArbTitan?</h3>
    <p>ArbTitan's software has been designed by professionals and has a proven track record for over 3 years. This
      solutions engine is being used by investment firms for other capital markets, such as FX, Equities and Futures.
      However, crypto markets have a lot of untapped potential and we want to show those trading solutions to you.</p>
    <p>We provide solutions that are real, on time and deeper than triangular arbitrage. Our tool is versatile and fast.
      Our code looks at a large set of data and provides the best solutions every 2 nanoseconds looking through more
      than 500K permutations. No one else even comes close to our speed and our capabilities.</p>
  </div>
</div>

<div class="jump-holder">
  <div class="jump-top-shape">
    <img src="assets/img/others/jump-top-shape.png" class="img-fluid" width="100%" />
  </div>
  <div class="container">
    <div class="jump-all">
      <div class="row">
        <div class="col-sm-6">
          <div class="jump-text">
            <h3>Jump Capability </h3>
            <ul class="list-unstyled">
              <li>Jump is a special feature that helps you move frorn one coin to the next with profit.</li>
              <li>Jump to an asset of your choosing with a profitable solution.</li>
              <li>Have XRP but want ETH Or any other asset?</li>
              <li>Our engine can help you find trading solutions to accumulate that coin in a profitable cost efficent
                manner. </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-how-it-works></app-how-it-works>

<div class="every-holder">
  <div class="every-top-shape">
    <img src="assets/img/others/evety-top-shape.png" class="img-fluid" width="100%" />
  </div>
  <div class="every-all text-center">
    <div class="container">
      <h3>Every Millisecond We Look Through</h3>
      <div class="row">
        <div class="col-sm-3">
          <h2>30+</h2>
          <p>exchanges</p>
        </div>
        <div class="col-sm-3">
          <h2>1300</h2>
          <p>Coins</p>
        </div>
        <div class="col-sm-3">
          <h2>2500</h2>
          <p>Pairs</p>
        </div>
        <div class="col-sm-3">
          <h2>2<span>Trillion</span></h2>
          <p>Trade opportunities</p>
        </div>
      </div>
    </div>
  </div>
  <div class="every-top-shape">
    <img src="assets/img/others/every-bot-shape.png" class="img-fluid" width="100%" />
  </div>
</div>


<app-want-to-promote-arbtitan></app-want-to-promote-arbtitan>

<div class="what-holder sp">
  <div class="what-top-shape">
    <img src="assets/img/others/ttt.png" class="img-fluid" width="100%" />
  </div>
  <div class="why-all">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="what-image">
            <img src="assets/img/others/why-image.jpg" class="img-fluid" width="100%" />
          </div>
        </div>
        <div class="col-sm-7">
          <div class="what-text sp">
            <h3>We Know What Is Necessary</h3>
            <p>ArbTitan is built by people with 15 years of experience in various asset classes. We worked with hedge
              funds and have high degree of compliance and industry standards. We also know what is best to trade and
              when.</p>
            <p>Use our combined knowledge to benefit yourself.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="subscribe-holder sp">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 offset-1">
        <div class="subscribe-content-all text-center">
          <img src="assets/img/others/mail-icon.png" class="img-fluid" />
          <h3>E-Mail Notification System</h3>
          <p>You can tailor trading solutions that you would want to be notified about. We will send you an email
            notification when the constraints are met.</p>
          <a routerLink="/contact" class="btn btn-sub">Notify Me <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-shape">
    <img src="assets/img/others/mail-shape.png" class="img-fluid" width="100%" />
  </div>
</div>

<app-faq></app-faq>
