<app-hero-slider [bannerData]="bannerData"></app-hero-slider>
<div class="contact-holder">
  <div class="container">
    <div class="contact-heading text-center">
      <h3>Contact Us</h3>
    </div>
    <div class="contact-rows">
      <div class="row">
        <div class="col-lg-5 col-sm-4">
          <div class="contact-text-bg sp1">
            <h4>Address: </h4>
            <a href="javascript:void(0);">Arbtitan- Street name, State, Country </a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-4">
          <div class="contact-text-bg sp2">
            <h4>Phone: </h4>
            <a href="javascript:void(0);">888 888 8888</a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="contact-text-bg sp3">
            <h4>Email: </h4>
            <a href="javascript:void(0);">arbtitaninfo@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-maps-row">
      <div class="row">
        <div class="col-sm-6">
          <div class="contact-text-map sp1">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230211.35508431823!2d-74.1462698475779!3d40.701536575162635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1553663113323"
              width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-sm-6">
          <app-contact-form></app-contact-form>
        </div>
      </div>
    </div>
  </div>
</div>
