<div class="form-bottom">
    <div class="form-in">
      <input type="text" class="form-control" placeholder="User Name">
    </div>
    <div class="form-in">
      <input type="text" class="form-control" placeholder="Email">
    </div>
    <div class="form-in">
      <input type="text" class="form-control" placeholder="Password">
    </div>
    <div class="form-in">
      <input type="text" class="form-control" placeholder="Password Confirm">
    </div>
    <div class="form-in sp">
      <input type="radio" id="rbs4" name="rbs" value="" checked>
      <label for="rbs4">Subscribe to Email Alerts</label>
    </div> <br />
    <div class="form-in">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>