<div class="what-holder">
  <div class="what-top-shape" *ngIf="!isSubPage">
      <img src="assets/img/others/arb-shape.png" class="img-fluid" width="100%"/>
    </div>
    <div class="why-all">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="what-text">
                        <h3>What Is ArbTitan?</h3>
                        <p>ArbTitan compares cryptocurrency prices across various exchanges to find profitable trading solutions. The results are compiled and displayed to the user, showing where he/she can buy LOW and sell HIGH with great profit.</p> <p> Trading solutions are calculated in several ways. From simple 2 step arbitrage to more complicated solutions with 5 steps. ArbTitan includes the necessary information to make sure that each solution is actually profitable such as: Checking for transfer availability, and average  duration of coin transfers, and order books. ArbTitan has a built-in advanced transaction profitability calculator that includes all of the commissions and transaction costs for each trading solution. ArbTitan is an advanced piece of technology that is built for you to take advantage of current markets. 
For more professional traders we have API solutions that feed trading solutions straight to your trading BOT.</p>
                        <a routerLink="whatisarbtitan" class="btn btn-read">Read more <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="what-image">
                        <img src="assets/img/others/what-image.jpg" class="img-fluid" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>