<div class="how-works-holder">
  <div class="container">
      <div class="how-heading text-center">
          <h3>How It Works?</h3>
            <p>ArbTitan automatically scans dozens of exchanges and displays trading solutions according to your preferences and filters, showing you where to buy LOW and sell HIGH with good return on your investment.</p>
        </div>
        <div class="arab-top text-center">
          <img src="assets/img/icons/arab-top.png" class="img-fluid"/>
        </div>
        <div class="arab-row">
          <div class="row">
              <div class="col-sm-3">
                  <div class="arab-image-text text-center sp1">
                      <img src="assets/img/icons/i-1.png" class="img-fluid"/>
                        <h4>Profit</h4>
                        <p>ArbTitan shows you where to buy and sell with a large profit. ArbTitan gives you these solutions in almost real time and shows you the best </p>
                    </div>
                </div>
                <div class="col-sm-3">
                  <div class="arab-image-text text-center sp2">
                      <img src="assets/img/icons/i-2.png" class="img-fluid"/>
                        <h4>No experience needed</h4>
                        <p>ArbTitan guides you every step of the way. ArbTitan will show you step by step which trades to take and for your convenience </p>
                    </div>
                </div>
                <div class="col-sm-3">
                  <div class="arab-image-text text-center sp3">
                      <img src="assets/img/icons/i-3.png" class="img-fluid"/>
                        <h4>You are in control</h4>
                        <p>You choose and decide which transactions you want to make and which you don't. Use filters to filter relevant exchanges and how deep you  </p>
                    </div>
                </div>
                <div class="col-sm-3">
                  <div class="arab-image-text text-center sp4">
                      <img src="assets/img/icons/i-4.png" class="img-fluid"/>
                        <h4>We don't trade Client's Money</h4>
                        <p>ArbTitan does not trade for its clients. We provide the best possible trading solutions to you and tell you how to take </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="arab-button text-center">
          <a routerLink="subscribe" class="btn btn-sub">Subscribe Now <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>